/* Probar procedimientos*/

SELECT *
FROM unah.Continente
-------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
SELECT *
FROM unah.Pais
----------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------
SELECT *
FROM unah.Departamento
---------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
SELECT *
FROM unah.Municipio

---------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
SELECT *
FROM unah.Direccion

---------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
SELECT *
FROM unah.Direccion